body {
    font-family: Arial, sans-serif;
    font-size: big;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: rgb(59, 156, 103);
    padding: 10px 0;
    text-align: justify;
}

main {
    padding: 20px;
}

section#eventos {
    display: flex;
    justify-content: space-around;
    text-align: justify;
}

article.evento {
    border: 1px solid #ccc;
    padding: 10px;
    width: 30%;
    text-align: center;
}

.ver-mais {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: rgb(39, 161, 100);
    text-decoration: none;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input {
    padding: 5px;
    margin-top: 5px;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.mensagem-sucesso {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    text-align: justify;
}
